:root {
    --primary-color: #000000;
    --secondary-color: #536390;
    --font-color: #3b3a3a;
    --bg-color: hsl(0, 0%, 98%);
    --bg-colorbutton: #000000;
    --heading-color: #292922;
    --primary-color-red: hsl(0, 78%, 62%);
    --primary-color-cyan: hsl(180, 62%, 55%);
    --primary-color-orange: hsl(34, 97%, 64%);
    --primary-color-blue: hsl(212, 86%, 64%);
    --neutral-color-bark-blue: hsl(234, 12%, 34%);
    --neutral-color-grayish-blue: hsl(240, 3%, 45%);
    --neutral-color-light-gray: hsl(0, 0%, 98%);
}

[data-theme="dark"] {
    --primary-color: #e1e1ff;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --bg-colorbutton: white;
    --bg-colorbutton: #e1e1ff;
    --heading-color: #818cab;
}


/* Change the font of the page and set the variables for the colors */

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
}

h1 {
    color: var(--primary-color);
    font-size: 180%;
}

a {
    color: var(--primary-color);
    border-radius: 6px;
}


/* Add a black background color to the top navigation */

.topnav {
    background: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    padding-top: 0.5rem;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: right;
    display: block;
    color: var(--font-color);
    text-align: justify;
    /* For Edge */
    -moz-text-align-last: right;
    /* For Firefox prior 58.0 */
    text-align-last: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.noHover {
    background-color: unset !important;
    color: unset !important;
}


/* Add an active class to highlight the current page */

.topnav a.active {
    border-style: solid;
    border-radius: 6px;
    padding: 12px;
}

.topnav a:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 8px;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
    margin-right: 15px;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

.resizelogo {
    width: 250px;
}

.resizeheader {
    width: 100%;
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .resizeheader {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}


/* Dark mode switch */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-right: 20px;
}

.theme-switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .5s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: .5s;
    width: 13px;
}

input:checked+.slider {
    background-color: rgb(111, 30, 210);
}

input:checked+.slider:before {
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Sections */

#home {
    min-height: 50vh;
}

#about {
    margin: 15px;
    padding: 0px;
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 6;
}

.div2 {
    grid-area: 1 / 4 / 5 / 6;
    transform: translate(0%, 20%);
}

.div3 {
    grid-area: 1 / 1 / 5 / 4;
    padding-top: 100px;
}

@media screen and (max-width: 900px) {
    .div1 {
        grid-area: 1 / 1 / 6 / 6;
    }
    .div2 {
        grid-area: 1 / 1 / 2 / 6;
        text-align: center;
        margin-top: 50px;
    }
    .div3 {
        grid-area: 2 / 1 / 5 / 6;
    }
    #home {
        max-height: 101vh;
    }
}

.sameline {
    line-height: 30%;
}


/* Button */

.btn {
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: 3px solid;
    border-radius: 6px;
    padding: 0.5em 2em;
    font-size: 25px;
    margin-top: 25px;
}

.btn:hover {
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-radius: 8px;
}


/* Scrollbar */


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0);
}


/* ====================== ABOUT ========================*/

.header {
    max-width: 800px;
    padding: 1em;
    font-size: 0.8em;
    margin: 4em auto;
    color: var(--neutral-color-bark-blue);
    position: relative;
}

.header h1 {
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5em;
}

.header h1 span {
    display: block;
    font-weight: 200;
}

.header p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    color: var(--neutral-color-grayish-blue);
}

.card {
    background: white;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1.2em 2em 1.2em 2em;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    margin-bottom: 1.5em;
    color: var(--neutral-color-bark-blue);
    border-top: 5px solid;
}

.card h2 {
    font-weight: 600;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 0.5em;
}

.card p {
    margin: 0;
    margin-bottom: 2em;
    font-size: 15px;
    color: var(--neutral-color-grayish-blue);
}

.card figure {
    margin: 0;
    margin-bottom: -0.5em;
    position: relative;
    height: 60px;
}

.card img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 140%;
}

.supervisor {
    border-top-color: var(--primary-color-cyan);
    grid-area: supervisor;
}

.team {
    border-top-color: var(--primary-color-red);
    grid-area: team;
}

.karma {
    border-top-color: var(--primary-color-orange);
    grid-area: karma;
}

.calculator {
    border-top-color: var(--primary-color-blue);
    grid-area: calculator;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--neutral-color-light-gray);
    font-size: 0.8em;
    position: sticky;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

@media screen and (min-width: 900px) {
    body {
        font-size: 15px;
    }
    .header {
        font-size: 1em;
        margin: 4em auto;
    }
    main {
        width: 1200px;
        margin: 0 auto;
        margin-bottom: 90px;
        display: grid;
        row-gap: 30px;
        grid-template-areas: ". team ." "supervisor team calculator" "supervisor karma calculator" ". karma .";
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 400px 400px 400px;
    }
    .card {
        margin: 0 auto;
    }
    footer {
        position: fixed;
        bottom: 0;
    }
}
